*{
    margin: 4px;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    background-image: linear-gradient(rgb(233, 233, 233),rgba(138, 79, 79, 0.541), rgb(49, 49, 49));
    color: #fff;
    border-radius: 10px;
    text-shadow: 3px 2px 4px rgba(8, 8, 8, 0.705);
    box-shadow: 1px 1px 2px rgb(192, 143, 70);
}
.screen {
    display: flex;
    height: 100vh;
}

.leftside {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.leftside img {
    max-width: 650px;
    height:100vh; 
 }

.rightside{
    width: 400px;
    background-color: #ddd;
    padding:50px;
}

.rightside label {
    display: block;
    margin-bottom: 20px;
}

.rightside input{
    width: 100%;
    border: 1px solid #999;
    border-radius:5px;
    padding:8px;
    font-size: 14px;
    outline:0;
    font-family:'Courier New', Courier, monospace;
    font-weight: 600;
    font-style: italic;
}

input[type=text],input[type=password]{
    color: rgb(106, 113, 131);
}

.error{
    font-size: 12px;
    background-color: rgba(219, 51, 21, 0.521);
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.507);
    text-transform: uppercase;
    text-decoration: underline;
}

